// Colors

$white: #fff;
$black: #000;
$grey: #8D8D8D;
$light-grey: #E3E3E3;
$dark-grey: rgba(0, 0, 0, 0.5);
$dark: #020202;
$red: #C81F56;
$orange: #FEB447;
$deep-orange: #FE840E;
$dim-orange: #FFDBBA;
$light-orange: rgba(254, 132, 14, 0.5);
$dark-orange: #F06C46;


