@import 'vars';
@import 'reset';
@import 'fonts';
@import 'libs';
@import 'global';

// start header
.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 33px;
        padding-bottom: 33px;
    }

    &__menu {
        padding-left: 494px;

        @media (max-width:1220px) {
            padding-left: 350px;
        }

        @media (max-width:1106px) {
            padding-left: 250px;
        }

        @media (max-width:1006px) {
            padding-left: 150px;
        }

        @media (max-width:906px) {
            padding-left: 50px;
        }

    }

    &__menu-list {
        display: flex;
    }

    &__menu-item {
        &:not(:last-child) {
            margin-right: 33px;

            @media (max-width:906px) {
                margin-right: 17px;
            }
        }
    }

    &__menu-link {
        font-weight: 500;
        font-size: 15px;
        line-height: 16 / 15 * 100%;
        color: $dark;
        transition: color .3s ease-out;

        @media (min-width: 900px) {
            &:hover {
                color: $red;
            }
        }
    }

    // start hamburger menu icon
    .menu-icon {
        cursor: pointer;
        float: right;
        position: relative;
        user-select: none;
        margin-top: 15px;

        @media (min-width: 767px) {
            display: none;
        }
    }

    .nav-icon {
        background: #333;
        display: block;
        height: 3px;
        position: relative;
        transition: background .2s ease-out;
        width: 30px;

        &::before,
        &::after {
            background: $black;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }

        &::before {
            top: 5px;
        }

        &::after {
            top: -5px;
        }
    }

    .menu-btn {
        display: none;
    }

    .menu-btn:checked~.menu {
        max-height: 240px;
    }

    .menu-btn:checked~.menu-icon .nav-icon {
        background: transparent;
    }

    .menu-btn:checked~.menu-icon .nav-icon:before {
        transform: rotate(-45deg);
        top: 0;
    }

    .menu-btn:checked~.menu-icon .nav-icon:after {
        transform: rotate(45deg);
        top: 0;
    }

    // end hamburger menu icon

}

// end header

// start top section
.top {

    &__container {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__inner {
        padding-top: 153px;
        padding-bottom: 85px;

        @media (max-width: 1112px) {
            padding-top: 50px;
        }
    }

    &__title,
    &__subtitle,
    &__items,
    &__timeline {
        color: $white;
    }

    &__title {
        max-width: 925px;
        padding-bottom: 12px;
        font-weight: 800;
        font-size: 48px;
        line-height: 59 / 48 * 100%;
        color: $white;
    }

    &__subtitle {
        max-width: 676px;
        padding-bottom: 50px;
        font-weight: 700;
        font-size: 24px;
        line-height: 35 / 24 * 100%;
    }

    &__items {
        display: flex;
        padding-bottom: 55px;

        @media (max-width: 1024px) {
            padding-bottom: 30px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        display: flex;
        max-width: 297px;

        &:not(:last-child) {
            margin-right: 98px;
        }

        @media (max-width: 1024px) {
            justify-content: center;

            &:not(:last-child) {
                margin-right: 25px;
                padding-bottom: 35px;
            }
        }
    }

    &__item-img {
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }

    &__item-text {
        margin-left: 10px;
    }

    &__timeline {
        max-width: 991px;
        font-weight: 800;
        font-size: 48px;
        line-height: 64 / 48 * 100%;
        padding-bottom: 65px;

        @media (max-width: 1024px) {
            padding-bottom: 40px;
        }
    }
}

// end top section

// start skill section
.skills {

    &__container,
    .jobs__container-btn {
        max-width: 960px;
    }

    &__container {
        padding-top: 73px;
        padding-bottom: 42px;
    }

    &__title {
        max-width: 960px;
    }

    &__items {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        column-gap: 144px;
        row-gap: 30px;
        padding-top: 55px;
        padding-bottom: 10px;

        @media (max-width: 767px) {
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            column-gap: 44px;
            align-content: center;
        }

        @media (max-width: 374px) {
            column-gap: 24px;
        }
    }

    &__item {
        position: relative;
        max-width: 210px;

        &::before {
            position: absolute;
            top: -30px;
            left: 10px;
            font-weight: 900;
            font-size: 96px;
            line-height: 140px;
            color: rgba(254, 180, 71, 0.1);
        }
    }

    &__item_number_one {
        &::before {
            content: "01";
        }
    }

    &__item_number_two {
        &::before {
            content: "02";
        }
    }

    &__item_number_three {
        &::before {
            content: "03";
        }
    }

    &__item_number_four {
        &::before {
            content: "04";
        }
    }

    &__item_number_five {
        &::before {
            content: "05";
        }
    }

    &__item_number_six {
        &::before {
            content: "06";
        }
    }

    &__item-text {
        padding-top: 16px;
    }

}

// end skills section

// start jobs div
.jobs {
    background-repeat: no-repeat;
    background-position: right 0% bottom 38%;
    background-size: 1055px 1100px;

    &__title {
        text-align: center;
        font-weight: 900;
        font-size: 96px;
        line-height: 140 / 96 * 100%;
        color: $red;
        mix-blend-mode: darken;
        opacity: 0.1;

        @media (max-width: 1264px) {
            font-size: 75px;
        }

        @media (max-width: 1024px) {
            font-size: 55px;
        }

        @media (max-width: 767px) {
            font-size: 45px;
        }

        @media (max-width: 500px) {
            font-size: 35px;
        }
    }

    &__items {
        height: auto;
        display: grid;
        grid-template-columns: repeat(6, minmax(150px, 216px));
        justify-content: center;
        column-gap: 23px;
        margin-top: 20px;

        @media (max-width: 1430px) {
            grid-template-columns: repeat(4, minmax(150px, 216px));
            row-gap: 30px;
        }

        @media (max-width: 950px) {
            grid-template-columns: repeat(3, minmax(150px, 216px));
        }

        @media (max-width: 712px) {
            grid-template-columns: repeat(2, minmax(150px, 216px));
        }

        @media (max-width: 712px) {
            grid-template-columns: repeat(2, minmax(150px, 216px));
        }

        @media (max-width: 374px) {
            grid-template-columns: repeat(1, minmax(150px, 216px));
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 20px;
        background: $white;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }

    &__item-position {
        padding-top: 32px;
        padding-bottom: 23px;
    }

    &__item-employer {
        padding-top: 50px;
    }

    &__container-btn {
        padding-top: 60px;
        padding-bottom: 94px;
    }
}

// end jobs div

// start edsystem

.edsystem {
    &__container {
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: 1920px;
        background-position: center;
    }
}

// start method article
.method {

    &__inner {
        display: flex;
        flex-direction: column;
        max-width: 960px;
        margin: 0 auto;
        padding-bottom: 73px;
    }

    &__title {
        max-width: 806px;

        @media (max-width: 600px) {
            font-size: 25px;
        }
    }

    &__desc {
        font-size: 16px;
        line-height: 30 / 20 * 100%;
        padding-top: 20px;
        padding-bottom: 30px;
        max-width: 554px;

        &_sad_face {
            font-size: 20px;
            ;
        }


        @media (min-width: 600px) {
            position: relative;
            font-size: 20px;

            &_sad_face {
                display: none;
            }

            &::after {
                content: url(../images/method-emoji.svg);
                position: absolute;
                top: 79px;
                right: 77px;
                width: 34px;
                height: 34px;
            }
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 960px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:not(:last-child) {
            margin-right: 120px;
        }
    }

    &__item-img {
        margin: auto 0;
        max-width: 276px;
    }

    &__item-desc {
        font-size: 20px;
        line-height: 30 / 20 * 100%;

        @media (max-width: 600px) {
            font-size: 16px;
        }
    }

}

// end method article

// start databox article
.databox {
    padding-top: 114px;

    &__title {
        max-width: 886px;
        color: $white;
        margin: 0 auto;
    }

    &__inner {
        padding-top: 100px;
        background-repeat: no-repeat;
        background-size: 780px 620px;
        background-position: bottom 60% right 82%;

        @media (max-width: 1219px) {
            background-size: 0 0;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @media (min-width: 1219px) {
            flex-direction: column;
            margin-left: 60%;
        }
    }

    &__item {
        display: flex;
    }

    &__item-img {
        width: 40px;
        height: 36px;
    }

    &__item-text {
        max-width: 258px;
        padding-left: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 30 / 20 * 100%;
        color: $white;

        &:not(last-child) {
            margin-bottom: 50px;
        }
    }
}

// end databox article

// start knowhow article
.knowhow {

    &__container {
        padding-top: 100px;
        padding-bottom: 50px;
        max-width: 886px;
    }

    &__title,
    &__item-title,
    &__item-text {
        color: $white;
    }

    &__title {
        max-width: 600px;
    }

    &__items {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, minmax(150px, 293px));
        gap: 22px;
        padding-top: 50px;

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, minmax(150px, 293px));
        }

        @media (min-width: 845px) {
            position: relative;
            column-gap: 62px;
            padding-top: 379px;

            &::before {
                content: url(../images/ipad.png);
                position: absolute;
                top: -245px;
                left: -265px;
            }
        }

    }

    &__item-title {
        padding-bottom: 20px;
    }
}

// end knowhow article

// start certificate article
.certificate {
    &__container {
        padding-top: 50px;
        padding-bottom: 105px;
        max-width: 886px;
    }

    &__inner {
        display: flex;
        justify-content: center;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__img {
        width: 100%;
        max-width: 420px;
    }

    &__items {
        max-width: 492px;
        margin-left: 53px;

        @media (max-width: 767px) {
            margin-left: 0;
        }
    }

    &__title,
    &__text {
        color: $white;
    }

    &__text {
        font-size: 20px;
        line-height: 30 / 20 * 100%;
        padding-top: 10px;
        padding-bottom: 44px;
    }
}

// end certificate article

// end edsystem

// start advantages section
.advantages {
    padding-top: 126px;
    padding-bottom: 116px;

    @media (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    &__title {
        font-weight: 800;
        font-size: 44px;
        line-height: 59 / 44 * 100%;
        text-align: center;
        padding-bottom: 57px;

        &_grey {
            color: $grey;
        }

        &_red {
            color: $red;
        }

        &_orange {
            color: $deep-orange;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 103px;

        @media (max-width: 870px) {
            grid-template-columns: repeat(1, 1fr);
            padding-bottom: 20px;
        }
    }

    &__item-inner {
        display: grid;
        align-items: center;
        max-width: 400px;
        margin: 0 auto;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 57px;

        @media (max-width: 870px) {
            margin-bottom: 35px;
        }

    }

    &__item-img {
        border-radius: 50%;
        width: 45px;
        height: 45px;

        @media (max-width: 870px) {
            width: 30px;
            height: 30px;
        }
    }

    &__item-img_size {
        width: 60px;
        height: 60px;

        @media (max-width: 870px) {
            width: 45px;
            height: 45px;
        }
    }

    &__item-text {
        padding-left: 16px;
    }

    &__item-text_bold {
        font-weight: 600;
        font-size: 20px;
        line-height: 30 / 20 * 100%;

        @media (max-width: 767px) {
            font-size: 18px;
        }
    }

    &__price {
        display: flex;
        justify-content: center;

        @media (max-width: 870px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__price-item_grey {
        padding-top: 80px;
        color: $grey;

        @media (max-width: 870px) {
            padding-top: 0;
            padding-bottom: 20px;
        }
    }

    &__price-item_orange {
        margin-left: 126px;
        color: $deep-orange;

        @media (max-width: 870px) {
            margin-left: 0;
        }
    }

    &__price-title {
        text-transform: uppercase;
    }

    &__price-title_regular_grey {
        font-weight: 600;
        font-size: 18px;
        line-height: 22 / 18 * 100%;

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    &__price-value_regular_grey {
        font-weight: 600;
        font-size: 60px;
        line-height: 72 / 60 * 100%;

        @media (max-width: 870px) {
            font-size: 35px;
        }
    }

    &__price-currency_regular_grey {
        font-size: 36px;
        line-height: 45 / 36 * 100%;

        @media (max-width: 767px) {
            font-size: 20px;
        }
    }

    &__price-title_bold_orange {
        font-weight: 700;
        font-size: 34px;
        line-height: 50 / 34 * 100%;

        @media (max-width: 767px) {
            font-size: 25px;
        }
    }

    &__price-value_bold_orange {
        font-weight: 900;
        font-size: 96px;
        line-height: 140 / 96 * 100%;

        @media (max-width: 767px) {
            font-size: 60px;
        }
    }

    &__price-currency_bold_orange {
        font-weight: 800;
        font-size: 60px;
        line-height: 88 / 60 * 100%;

        @media (max-width: 767px) {
            font-size: 30px;
        }
    }
}

// end advantages section

// start timeline section
.timeline {
    padding-top: 15px;
    padding-bottom: 114px;

    @media (max-width: 767px) {
        padding-bottom: 40px;
    }

    &__box {
        padding: 51px 78px 90px;
        background-repeat: no-repeat;
        background-size: cover;
        filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.1));

        @media (max-width: 767px) {
            padding: 51px 10px 90px 10px;
            background-position: center;
        }
    }

    &__title,
    &__subtitle {
        color: $white;
    }

    &__title {
        font-weight: 800;
        font-size: 54px;
        line-height: 72 / 54 * 100%;
        padding-bottom: 30px;

        @media (max-width: 1108px) {
            font-size: 50px;
        }

        @media (max-width: 1089px) {
            font-size: 40px;
        }
    }

    &__subtitle {
        padding-bottom: 38px;

        @media (max-width: 1089px) {
            font-size: 28px;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1108px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__form-name,
    &__form-phone {
        @media (max-width: 1108px) {
            margin-bottom: 30px;
        }
    }

    &__form-name {
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__form-phone {
        width: 30%;

        @media (max-width: 1108px) {
            width: 50%;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        padding-top: 90px;

        @media (max-width: 1079px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media (max-width: 550px) {
            padding-top: 10px;
        }
    }

    &__item {
        @media (max-width: 550px) {
            margin-bottom: 50px;
        }
    }

    &__item-inner {
        display: flex;

        @media (max-width: 415px) {
            flex-direction: column;
        }
    }

    &__item-img {
        width: 100%;
        max-width: 210px;

        @media (max-width: 550px) {
            width: 50%;
        }
    }

    &__item-discount {
        max-width: 300px;
        margin-left: 10px;
        margin-bottom: 35px;

        @media (max-width: 1079px) {
            margin-left: 0px;
        }
    }

    &__item-value {
        font-weight: 900;
        font-size: 120px;
        line-height: 176 / 120 * 100%;

        @media (max-width: 550px) {
            font-size: 80px;
        }
    }

    &__item-value_orange {
        background: linear-gradient(180deg, #F5FA72 32.47%, #FE840E 150.65%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    &__item-value_red {
        background: linear-gradient(180deg, #FE840E 22.46%, #C81F56 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    &__item-text {
        font-weight: 700;
        font-size: 24px;
        line-height: 32 / 24 * 100%;

        @media (max-width: 550px) {
            font-size: 20px;
        }
    }
}

// end timeline section

// start course section 
.course {
    padding-top: 20px;
    padding-bottom: 140px;

    @media (max-width: 767px) {
        padding-bottom: 40px;
    }

    &__title {
        font-weight: 800;
        font-size: 48px;
        line-height: 64 / 48 * 100%;
        padding-bottom: 14px;
    }

    &__desc {
        font-size: 20px;
        line-height: 30 / 20 * 100%;
        padding-bottom: 75px;
    }

    &__items {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        gap: 20px;
        max-width: 930px;

        @media (max-width: 887px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
        }
    }

    &__item {
        position: relative;
        max-width: 453px;
        min-height: 348px;
        background-repeat: no-repeat;
        background-position: left;
        background-size: 453px 348px;
        filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.1));

        @media (max-width: 480px) {
            background-size: 378px 320px;
            min-height: 320px;
        }

        @media (max-width: 414px) {
            background-size: 340px 260px;
            min-height: 260px;
        }

        @media (max-width: 374px) {
            background-size: 288px 260px;
        }
    }

    &__item-title,
    &__item-text {
        position: absolute;
    }

    &__item-title {
        top: 194px;
        left: 80px;
        font-weight: 600;
        font-size: 30px;
        line-height: 40 /30 * 100%;

        @media (max-width: 480px) {
            font-size: 25px;
        }

        @media (max-width: 414px) {
            top: 145px;
            left: 60px;
            font-size: 22px;
        }

        @media (max-width: 374px) {
            font-size: 18px;
        }
    }

    &__item-title_white,
    &__item-text {
        color: $white;
        left: 50px;
    }

    &__item-title_white {
        font-weight: 700;
        font-size: 34px;
        top: 31px;

        @media (max-width: 480px) {
            font-size: 28px;
            top: 20px;
        }
    }

    &__item-text {
        max-width: 252px;
        font-weight: 500;
        font-size: 24px;
        line-height: 35 / 24 * 100%;
        top: 120px;

        @media (max-width: 480px) {
            font-size: 20px;
            top: 80px;
        }

        @media (max-width: 414px) {
            font-size: 18px;
        }
    }
}

// end course section 

// start about section 
.about {
    padding-top: 67px;
    padding-bottom: 115px;

    background-repeat: no-repeat;
    background-position: top center;

    @media (max-width: 768px) {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    &__title,
    &__subtitle,
    &__desc,
    &__teachers-title {
        color: $white;
    }

    &__title {
        font-weight: 800;
        font-size: 60px;
        line-height: 88 / 60 * 100%;
        padding-bottom: 59px;

        @media (max-width: 767px) {
            font-size: 40px;
            padding-bottom: 30px;
        }
    }

    &__subtitle {
        font-weight: bold;
        font-size: 34px;
        line-height: 41 / 34 * 100%;
        padding-bottom: 16px;
        max-width: 676px;

        @media (max-width: 767px) {
            font-size: 30px;
            padding-bottom: 10px;
        }
    }

    &__desc {
        font-weight: 600;
        font-size: 24px;
        line-height: 35 / 24 * 100%;
        padding-bottom: 90px;
        max-width: 700px;

        @media (max-width: 767px) {
            font-size: 20px;
            padding-bottom: 40px;
        }
    }

    &__teachers-title {
        padding-bottom: 55px;

        @media (max-width: 767px) {
            font-size: 30px;
            padding-bottom: 25px;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        max-width: 930px;

        @media (max-width: 850px) {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 50px;
        }
    }

    &__box {
        max-width: 453px;
        background: #FFFFFF;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }

    &__box-profile {
        position: relative;
        min-height: 287px;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        border-radius: 20px;
    }

    &__box-name,
    &__box-surname {
        position: absolute;
        color: $white;
    }

    &__box-name {
        top: 60%;
        left: 7%;
        font-weight: 600;
        font-size: 40px;
        line-height: 35 / 30 * 100%;
    }

    &__box-surname {
        top: 80%;
        left: 7%;
        font-weight: 500;
        font-size: 25px;
        line-height: 30 / 25 * 100%;
    }

    &__box-list {
        max-width: 363px;
        margin: 36px auto;
    }

    &__box-item {
        position: relative;
        padding-bottom: 25px;
        padding-left: 12px;

        @media (max-width: 450px) {
            padding-left: 20px;
        }

        &::before {
            content: "•";
            position: absolute;
            top: 0;
            left: -12px;
            font-size: 20px;
            line-height: 28 / 20 * 100%;

            @media (max-width: 867px) {
                left: -5px;
            }

            @media (max-width: 423px) {
                left: 5px;
            }
        }
    }

    &__box-text {
        font-size: 20px;
        line-height: 28 / 20 * 100%;

        @media (max-width: 867px) {
            font-size: 16px;
        }
    }
}

// end about section 

// start contact-form section
.contact-form {
    &__box {
        padding: 32px 78px 51px;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.1));


        @media (max-width: 1240px) {
            background-size: cover;
            background-position: center;
            border-radius: 20px;
        }

        @media (max-width: 767px) {
            padding: 20px 8px;
        }
    }

    &__title {
        padding-bottom: 38px;
        color: $white;
    }

    &__items {
        display: flex;

        @media (max-width: 1240px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__form {
        display: flex;
        width: 100%;
        max-width: 920px;

        @media (max-width: 990px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__form-name,
    &__form-phone,
    &__form-btn {
        margin-right: 20px;

        @media (max-width: 990px) {
            margin-top: 20px;
            margin-right: 0;
        }
    }

    &__form-name {
        width: 100%;

        @media (maX-width: 990px) {
            width: 50%;
        }

        @media (max-width: 500px) {
            width: 100%;
        }

        @media (min-width: 991px) {
            max-width: 335px;
        }
    }

    &__form-phone {
        width: 100%;

        @media (max-width: 990px) {
            width: 50%;
        }

        @media (max-width: 500px) {
            width: 100%;
        }

        @media (min-width: 991px) {
            max-width: 260px;
        }
    }

    &__form-btn {
        width: 100%;
        width: 184px;
        background: $deep-orange;

        @media (max-width: 990px) {
            border: 2px solid $white;
        }
    }

    &__social {
        display: flex;
        margin-right: 80px;

        @media (max-width: 1240px) {
            margin-top: 50px;
            margin-right: 0px;
        }
    }

    &__social-item {
        &:not(last-child) {
            margin-right: 20px;
        }
    }

    &__social-img {
        width: 43px;
        height: 43px;
        transition: all .3s ease-in;

        @media (max-width: 1240px) {
            border: 3px solid $white;
            border-radius: 50%;
        }

        @media (min-width: 900px) {
            &:hover {
                transform: scale(1.5);
            }
        }
    }
}

// end contact-form section

// start reviews section
.reviews {
    padding-top: 116px;
    padding-bottom: 132px;

    @media (max-width: 768px) {
        padding-top: 70px;
        padding-bottom: 80px;
    }

    &__title {
        text-align: center;
        margin-bottom: 68px;

        @media (max-width: 767px) {
            margin-bottom: 10px;
        }
    }

    &__items {
        padding-top: 30px;
        filter: drop-shadow(0px 15px 50px rgba(254, 132, 14, 0.1));
    }

    &__box {
        position: relative;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 700px;
        height: auto;

        margin-top: 36px;
        padding: 36px 45px;
        background: $white;
        border: 1px solid $orange;
        border-radius: 20px;
    }

    &__box-img {
        position: absolute;
        top: -30px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    &__box-text {
        padding-top: 28px;
        padding-bottom: 21px;

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 20 / 14 * 100%;
        }
    }

    &__box-name {

        @media (max-width: 767px) {
            font-size: 12px;
            line-height: 16 / 12 * 100%;
        }
    }
}

// start reviews slider
.slick-slide {
    margin-right: 20px;
    padding-left: 10px;
}

.slick-dots {
    list-style: none;
    text-align: center;
}

.reviews__items .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots button {
    margin: 86px 12px;
    line-height: 12;
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: $grey;
    border: none;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
}

.slick-active button {
    background-color: $deep-orange;
}

// end reviews slider

// end reviews section

// start contacts section
.contacts {
    padding-bottom: 160px;

    @media (max-width: 767px) {
        padding-bottom: 50px;
    }

    &__inner {
        display: flex;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__map {
        width: 100%;
        max-width: 572px;
        padding-top: 56px;
        filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.1));

        iframe {
            border-radius: 20px;
        }

        @media (max-width: 767px) {
            order: 2;
        }
    }

    &__box {
        position: relative;
        margin-left: 41px;
        padding-top: 90px;
        color: $white;

        &::after {
            content: url("../images/contacts-bg.svg");
            position: absolute;
            top: 0px;
            left: -400px;
            z-index: -1;

            @media (max-width: 767px) {
                left: -320px;
            }
        }
    }

    &__box-title {
        margin-bottom: 52px;
    }

    &__box-item {
        padding-left: 26px;

        &:nth-child(2),
        &:nth-child(4) {
            margin-bottom: 31px;
        }
    }

    &__box-item_phone,
    &__box-item_email,
    &__box-item_pin {
        position: relative;

        &::before {
            position: absolute;
            top: 0px;
            left: 2px;
        }
    }

    &__box-item_phone {
        &::before {
            content: url("../images/contacts-phone.svg")
        }
    }

    &__box-item_email {
        &::before {
            content: url("../images/contacts-email.svg")
        }
    }

    &__box-item_pin {
        &::before {
            content: url("../images/contacts-pin.svg")
        }
    }
}

// end contacts section

// start footer
.footer {
    padding-top: 111px;
    padding-bottom: 50px;

    @media (max-width: 767px) {
        padding-top: 70px;
        padding-bottom: 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__social {
        margin-top: 20px;
    }

    &__social-list {
        display: flex;
        margin-top: 8px;
    }

    &__social-item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__social-link {
        transition: opacity .5s ease-out;

        @media (min-width: 900px) {
            &:hover {
                opacity: .6;
            }
        }
    }

    &__social-img {
        width: 43px;
        height: 43px;
    }

    &__menu {
        margin-top: 52px;

        @media (max-width: 767px) {
            margin-bottom: 52px;
        }
    }

    &__menu-btn {
        width: 217px;
        color: $white;
    }

    &__menu-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 350px;
        margin-top: 37px;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__menu-item {
        &:not(last-child) {
            margin-right: 27px;
        }

        @media (max-width: 767px) {
            &:not(last-child) {
                margin-right: 0px;
                margin-bottom: 27px;
            }
        }
    }

    &__menu-link,
    &__copyright-link,
    &__copyright-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 16 / 12 * 100%;
        color: $dark-grey;

        @media (max-width: 767px) {
            font-size: 16px;
            color: $black;
        }
    }

    &__menu-link,
    &__copyright-link {
        transition: color .3s ease-in-out;

        @media (min-width: 900px) {
            &:hover {
                color: $black;
            }
        }
    }

    &__copyright {
        margin-top: -36px;
    }

    &__copyright-text {
        @media (max-width: 767px) {
            margin-top: 15px;
        }
    }
}

// end footer


@import 'media';